certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
fastapi==0.42.0
h11==0.8.1
httptools==0.0.13
idna==2.8
ntlm-auth==1.4.0
pycparser==2.19
pydantic==0.32.2
pypsrp==0.4.0
PyYAML==5.1.2
requests==2.22.0
six==1.13.0
starlette==0.12.9
urllib3==1.25.7
uvicorn==0.10.8
uvloop==0.14.0
websockets==8.1
